body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #523737;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selector {
  width: 30vw;
  height: 20vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.display {
  width: 30vw;
  height: 20vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button{
  /*position: absolute;*/
  background-color: red;
  width: 109px;
  height: 113px;
  left: 781px;
  top: 414px;
  border-radius: 50%;
  border:black 2px solid;
}

button.countdown{
  /*position: absolute;*/
  background-color: blue;
  width: 109px;
  height: 113px;
  left: 527px;
  top: 300px;

}

select{
  background-color: chartreuse;
  width: 400px;
  height: 200px;
}