body {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #523737;
}

.inputBlt {
position: absolute;
width: 255px;
height: 70px;
margin: auto; 
top: 195px;

background: #63CC61;
border: 7px solid #0057FF
}
