body {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #523737;
}

.inputBlt {
position: absolute;
width: 255px;
height: 70px;
margin: auto; 
top: 195px;

background: #63CC61;
border: 7px solid #0057FF
}

.start{
  position: absolute;
  background-color: red;
  width: 129px;
  height: 133px;
  left: 781px;
  top: 414px;
  border-radius: 50%;
  border-color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #FFFFFF;

}

.stopWatch{

  position: absolute;
  background-color: blue;
  width: 129px;
  height: 133px;
  left: 527px;
  top: 414px;

  border-radius: 50%;
 /* Need to fix the text in the display*/ 
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-emphasis-position: 400px;
  
  color: #FFFFFF;
  
}